<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="xyz.goome.eternal.dbserver" />

    <bean id="thriftServer" class="xyz.goome.eternal.dbserver.ThriftServer" init-method="init" destroy-method="close">
        <property name="port" value="8081" />
        <property name="serviceList">
            <map>
                <entry key="AccountService">
                    <ref bean="accountService" />
                </entry>
            </map>
        </property>
    </bean>

</beans>